<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Permission for notifications -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Permission to receive BOOT_COMPLETED -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlarmApp"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".NewAlarm"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receiver for Boot Completed -->
        <receiver
            android:name=".NewAlarm"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NewAlarm$MediaReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".NewAlarm$NotificationDismissReceiver"
            android:enabled="true"
            android:exported="true" />


    </application>

</manifest>
